/*
 Part of style from OrangeHRM Software: http://www.orangehrm.com
*/

.th {
	padding-left: 5px;
	height: 40px;
	border-bottom:#CCCCCC thin solid;
}

th {
	padding-left: 5px;
	height: 40px;
	vertical-align:top;
}

td {
	vertical-align:top;
}

.tdComponent {
	padding-right: 50px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom:#CCCCCC thin solid;
}

.tdValues {
	padding-left: 5;
	padding-right: 5;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom:#CCCCCC thin solid;
}

.tdComponent_n{
	padding-right: 50px;
	padding-left: 5px;
}

.tdValues_n {
	padding-left: 5;
	padding-right: 5;
	padding-top: 2;
	padding-bottom: 2;
}
